button {
  border-radius: 4px;
  border: none;
  color: white;
  &:focus {
    outline: none;
  }
}

input:focus, textarea:focus {
  outline: 2px solid $color-secondary;
}

.btn-primary {
  background-color: $color-primary;
  &:hover {
    background-color: darken($color-primary, 5%);
  }
}

.btn-secondary {
  background-color: $color-secondary;
  &:hover {
    background-color: darken($color-secondary, 5%);
  }
}

.btn-tertiary {
  background-color: $color-tertiary;
  &:hover {
    background-color: darken($color-tertiary, 5%);
  }
}

.info {
  padding: 3px 10px;
  border-radius: 4px;
  background-color: $color-secondary;
}

.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-container-rounded {
  border-radius: 50%;
  overflow: hidden;
}

::-webkit-file-upload-button {
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: white;
  background: #1dc7c1;
  &:hover {
    background-color: darken(#1dc7c1, 5%);
  }
}